---
layout: layouts/home.njk
permalink: /posts/
eleventyNavigation:
  key: Arkiv
  order: 2
---
<div class="container">
  <h1>Arkiv</h1>

  {% set postslist = collections.posts %}
  {% include "postslist.njk" %}
</div>