---
layout: layouts/home.njk
eleventyNavigation:
  key: Hem
  order: 1
---

<p>Inför valet 2022 diskuteras det mycket omkring saker som har prioritet på nationalt eller kommunalt plan. Det diskuteras tvärtom inte mycket om saker som är viktiga för regionen Skåne - inklusive tillståndet av tågen och övrig kollektivtransport. Vem har ansvaret för situationen nu och vem kommer göra något med den?</p>

<p>Tåguppropet Skåne vill ha svar från politikerna. Varför är tågen så dyra och kapaciteten så liten?</p>


{% set maxPosts = collections.posts.length | min(3) %}

{% set postslist = collections.posts | head(-3) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}

<p>Flera poster kan hittas i <a href="{{ '/posts/' | url }}">arkivet</a>.</p>
