---
layout: layouts/home.njk
eleventyNavigation:
  key: Hem
  order: 1
---
{% set maxPosts = collections.posts.length | min(3) %}
<h1>Senaste {% if maxPosts == 1 %}Post{% else %}{{ maxPosts }} Poster{% endif %}</h1>

{% set postslist = collections.posts | head(-3) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}

<p>Flera poster kan hittas i <a href="{{ '/posts/' | url }}">arkivet</a>.</p>
