---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - post
    - posts
    - tagList
    - currentPosts
    - postsByYear
  addAllPagesToCollections: true
layout: layouts/home.njk
eleventyComputed:
  title: Taggat "{{ tag }}"
permalink: /tags/{{ tag | slugify }}/
---
<div class="container">
  <h1>Inlägg taggade "{{ tag }}"</h1>

  {% set postslist = collections[ tag ] %}
  {% include "postslist.njk" %}

  <p><a href="{{ '/tags/' | url }}">&larr; Alla taggar</a></p>
</div>