---
permalink: /tags/
layout: layouts/home.njk
---
<div class="container">
  <h1>Taggar</h1>

  <div class="tag-cloud">
  {% for tag in collections.tagList %}
    {% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
    <a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
  {% endfor %}
  </div>
</div>